.tooltipDefaultContainer {
  background: #F0AD4E;
  padding: 10px;
  opacity: 80%;
  color: #fff;
  font-size: 6px;

  border: 1px solid transparent;
  border-radius: 3px;
}

.tooltipDefaultContainerParagraph {
  font-size: 6px;
  margin-bottom: 6px;
  color: #fff;

}

.tooltipDetailsContainer {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltipDetailsContainerHidden {
  visibility: hidden;
  position: absolute;
  display: flex;
  pointer-events: none;
}
